{% extends 'base.html' %}

{% block styles %}
<style>
.jumbotron {
	text-align: center;
}
</style>
{% endblock %}

{% block jumbotron %}
	<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
		<h1>About Saksham Arora</h1>
      </div>
{% endblock %}


{% block content %}
	<div class="jumbotron">
		<h3>" Having graduated from a reputed university earlier this year and currently fulfilling my master’s degree at George Mason University, my goal is to find an internship program at an esteemed organization, a company that could benefit from my educational background and passion for engineering and analytics,while I obtain hands-on experience and a challenging position in a high quality engineering and analytical environment where my resourceful experience and academic skills will add value to organizational operations. "</h3>
	</div>

	<div class="jumbotron">
		<h1>About the Project</h1>
		<h4>The Project is based on setting up a webpage that asks the user for its credentials to allow login in a paticular page. Every time the user wants to login, he/she can SignIn and use the pages. Also I made a Signup page for new users. It also has a contact page that sends the user requests via mail.  </h4>
	</div>
{% endblock %}